<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
</head>
<body>
    <header>
        <h1>Mi Primera Pagina Web</h1>
    </header>
    <article>
        <section>
            <h2>Primer Subtitulo</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quasi adipisci, sit ipsa autem nostrum architecto corporis, dolor placeat nisi laborum, porro labore minima quidem possimus! Quidem neque illum voluptas!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus pariatur quis quidem nesciunt quae delectus, enim tempore? Natus, earum amet saepe consequatur magni pariatur perspiciatis, molestiae quod eius quibusdam aspernatur.
            </p>
            <a th:href="@{/students}">Ir a Siguiente Pagina</a>
        </section>
    </article>
</body>
</html>